@charset "utf-8";
html {
    font-size: 14px;
    font-family: Roboto, Arial, sans-serif;
}
div .wraper {
width: 100%;

}
div .content {
    font-size: 1.5rem;
    width: 50%;
    margin:5% auto;
    background-color: aliceblue;
    border: solid salmon 1px;
}
@media ( max-width:768px )  {
    div .content {
    font-size: 1.0rem;
    width: 90%;
    margin:0px auto;
    background-color: aliceblue;
    border: solid salmon 1px;
    }
}
div .content .id,
div .content .pw,
div .content .email,
div .content .submit {
    width:90%;
    margin:1% auto;
}
div .content .emailcheck {
    display: inline;
}
@media ( max-width:768px ) {
    div .content .emailcheck {
        display: block;
        width: 40%;
        margin: 1% auto;
    }
}
.usrlabel {
    display: inline-block;
    width: 34%;
}
input {
    vertical-align:middle;
    border: solid salmon 1px;
    height: 24px;
}
input[type="submit"] {
    width: 100px;
    height: 30px;
    display:block;
    margin: 1% auto;
}
.agree {
    width:90%;
    margin:0px auto;
}
h1, h2 {
    text-align: center;
    color:cornflowerblue ;
}
div .agreecnt {
    border: solid cornflowerblue 1px;
    background-color:aliceblue;
    width:90%;
    height: 70px;
    margin: 0px auto;
    overflow-y: scroll;
}
div .agreecntchck {
    width: 85%;
    margin: 10px auto;
}
div .agreecnt {
    counter-reset: hnum;
}
div .agreecnt > h3::before {
    content: "제 " counter(hnum) " 조";
    counter-increment: hnum 1;
}
div .agreecnt > h3 {
    counter-reset: pnum;
}
div .agreecnt > p::before {
    content: counter(pnum) ".   ";
    counter-increment: pnum 1;
}
div .agreecnt > p {
    margin-left: 10%;
    margin-top: 2px;
    margin-bottom: 2px;
}